body{
	margin:0px;
}
.container{
	width:100vw;
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:10%;
}
.bar{
	height:12px;
	background-color:royalblue;
}
.icon{
	height:20px;
	width:20px;
}
.set{
	display:flex;
	justify-content:space-between;
}
.profile{
	padding:15px;
	display:flex;
	gap:20%;
}
.about > span{
	font-size:30px;
	border-bottom:5px solid royalblue;
}
@media (max-width:552px){
	.container{
		grid-template-columns:none;
	}
	.profile img{
		width:200px;
	}
	.profile{
		gap:10%;
	}
	.skills,.about{
		padding-right:20px;
	}
}